
.todo-container{
    background-color: #020631;
    width: 70vw;
    margin: 5em auto;
    border-radius: 10px;
    padding: 10px;
    color: aliceblue;
    
}

.header{
    font-size: 2em;
    text-align: center;
}

.input-container{
    background-color: #020631;
    padding: 0.5em;
    border-radius: 5em;
    border: 2px solid cadetblue;
}

.input{
    font-size: 1.5em  ;
    font-weight: bold;
    color: rgb(237, 230, 230);
    background-color: #020631;
    border: 1px;
    border-radius: 1em;
    border: 2px solid #020631;
    padding: .5em;
    margin: 1em;
    width: 80%;
}

.add-btn{
    border-radius: 5px;
    font-size: 2em;
    margin: 2px;
    padding: 0px 15px;
    border: none;
    cursor: pointer;
   color: #020631;
   background-color: #dadade;

}
.list-tasks{
  font-size: 1.25em;
  font-style: italic;
  font-weight: bold;
  color: #efeff3;
  background-color: #020631;
  border-radius: 5px;
  border: 1px solid  #efeff3;
  padding: 0.5em;
  margin: 0.5em;
}

.delete-btn{
  border-radius: 5px;
  margin: 0px 5px;
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  float: right;
  background-color: #c1c1ca;
}